.table{
  text-align: center;
  height: 740px;
  min-width: 1520px;
  /*background-color: #307000;*/
  background-image: url("../../assets/images/game_background5.jpg");
  background-size: 1520px 740px;
}

.center_in_body_table{
  text-align: center;
  background-image: url("../../assets/images/game_background6.jpg");
  background-size: 940px 540px;
  /*opacity: 0.5;*/
  border-radius:5%;
  width: 940px;
  height: 540px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.left_in_table {
  text-align: center;
  position: absolute;
  left: -120px;
  top: 170px;
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.left_player {
  height: 90px;
  width: 50px;
  position: absolute;
  left: -100px;
  top: 200px;
}

.portrait{
  border-radius:25%;
  text-align: center;
  position: absolute;
  width: 70px;
  height: 70px;
  left: -80px;
  left: -80px;
  top: 0px;
}

.tipIcon {
  background-color: #f00;
  color: #fff;
  border-radius:50%;
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  right:50px;  //负值为自身体积的一半
  top:0px;
}

.up_in_table {
  text-align: center;
  position: absolute;
  right: 250px;
  top: 20px;
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.up_player{
  height: 80px;
  width: 50px;
  position: absolute;
  right: 750px;
  top: -70px;
}

.right_in_table {
  text-align: center;
  position: absolute;
  right:-120px;
  top: 150px;
  -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.right_player {
  height: 50px;
  width: 50px;
  position: absolute;
  right:-160px;
  top: 200px;
}

.bottom_in_table {
  text-align: center;
  position: absolute;
  bottom:20px;
  left: 250px;
}

.bottom_player {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  left: 155px;
}

.center_in_table{
  text-align: center;
  position: absolute;
  top: 242px;
  left: 442px;
}

.left_tile{
  text-align: center;
  position: absolute;
  top: 500px;
  right: 50px;
}


