<div class="table">
  <div class="center_in_body_table">
      <left class="left_in_table"></left>
      <up class="up_in_table"></up>
      <right class="right_in_table"></right>
      <bottom [uuid]="uuid" [turn]="turn" [current_tile]="current_tile" [next_turn]="next_turn" class="bottom_in_table"></bottom>
      <center-table [leftPlayer]="leftPlayer" [rightPlayer]="rightPlayer" [upPlayer]="upPlayer" [bottomPlayer]="bottomPlayer" [next_turn]="next_turn" class="center_in_table"></center-table>
      <div class="left_player" >
        <div>
          <img class="portrait" src="../../assets/picture/portrait/{{leftPlayer.gameid}}.jpg" alt="touxiang">
          <span *ngIf="leftPlayer.gameid === banker.gameid"  class="tipIcon">庄</span>
        </div>
        <div><h4><span class="label label-default">{{leftPlayer.name}}</span></h4></div>
        <div><h4><span class="label label-default">LeftPoint {{leftPlayer.point}}</span></h4></div>
      </div>
    <div class="up_player" >
      <div>
        <img class="portrait" src="../../assets/picture/portrait/{{upPlayer.gameid}}.jpg" alt="touxiang">
        <span *ngIf="upPlayer.gameid === banker.gameid"  class="tipIcon">庄</span>
      </div>
      <div><h4><span class="label label-default">{{upPlayer.name}}</span></h4></div>
      <div><h4><span class="label label-default">LeftPoint {{upPlayer.point}}</span></h4></div>
    </div>
    <div class="right_player" >
      <div>
        <img class="portrait" src="../../assets/picture/portrait/{{rightPlayer.gameid}}.jpg" alt="touxiang">
        <span *ngIf="rightPlayer.gameid === banker.gameid"  class="tipIcon">庄</span>
      </div>
      <div><h4><span class="label label-default">{{rightPlayer.name}}</span></h4></div>
      <div><h4><span class="label label-default">LeftPoint {{rightPlayer.point}}</span></h4></div>
    </div>
    <div class="bottom_player">
      <div>
        <img class="portrait" src="../../assets/picture/portrait/{{bottomPlayer.gameid}}.jpg" alt="touxiang">
        <span *ngIf="bottomPlayer.gameid === banker.gameid"  class="tipIcon">庄</span>
      </div>
      <div><h4><span class="label label-default">{{bottomPlayer.name}}</span></h4></div>
      <div><h4><span class="label label-default">LeftPoint {{bottomPlayer.point}}</span></h4></div>
    </div>
    <div class="left_tile"><h4><span class="label label-default">剩余牌数 {{restTile}}</span></h4></div>
    <!--新添加的聊天室-->
    <div class="chatting">
      <div class="top_chatting">
        <div *ngFor="let chat_message of chatMessage" class="chat_message">
          {{chat_message}}
        </div>
      </div>
      <div class="bottom_chatting">
        <input [(ngModel)]="message" type="text" value="" id="text">
        <button (click)="send_message()">发送</button>
      </div>
    </div>
  </div>
</div>
