<div class="table">
  <div class="center_in_body_table">
      <left class="left_in_table"></left>
      <up class="up_in_table"></up>
      <bottom class="bottom_in_table"></bottom>
      <right class="right_in_table"></right>
      <div class="left_player" >
        <div><img class="portrait" src="../../assets/picture/portrait/{{leftPlayer.gameid}}.png" alt="touxiang"></div>
        <div><h4><span class="label label-default">{{leftPlayer.name}}</span></h4></div>
      </div>
    <div class="up_player" >
      <div><img class="portrait" src="../../assets/picture/portrait/{{upPlayer.gameid}}.png" alt="touxiang"></div>
      <div><h4><span class="label label-default">{{upPlayer.name}}</span></h4></div>
    </div>
    <div class="right_player" >
      <img class="portrait" src="../../assets/picture/portrait/{{rightPlayer.gameid}}.png" alt="touxiang">
      <div><h4><span class="label label-default">{{rightPlayer.name}}</span></h4></div>
    </div>
    <div class="bottom_player">
      <img class="portrait" src="../../assets/picture/portrait/{{bottomPlayer.gameid}}.png" alt="touxiang">
      <div><h4><span class="label label-default">{{bottomPlayer.name}}</span></h4></div>
    </div>
  </div>
</div>
