.right{
  text-align: center;
  color: #eee;
  border-radius: 2px;
  height: 180px;
  width: 450px;
  /*-moz-transform:rotate(270deg);*/
  /*-webkit-transform:rotate(270deg);*/
  /*filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
.right_useless {
  text-align: center;
  color: #eee;
  height: 120px;
  width: 200px;
  border-radius: 2px;
  position: absolute;
  left: 125px
}

.useless_tile {
  height: 40px;
  width: 25px;
  float: left;
}

.right_using {
  text-align: center;
  color: #eee;
  height: 40px;
  border-radius: 2px;
  position: absolute;
  left:10px;
  bottom:10px;
}

.using_tile {
  height: 40px;
  width: 25px;
  float: left;
}

.right_used {
  text-align: center;
  color: #eee;
  height: 40px;
  border-radius: 2px;
  position: absolute;
  right:10px;
  bottom:10px;
}

.used_tile {
  height: 40px;
  width: 25px;
  float: left;
}
.selected:last-child{
  box-shadow: 5px 0px 10px 5px rgba(255,0,0,0.7);
  transform: rotate(0deg) scale(1.1);
  -webkit-transform: rotate(0deg) scale(1.1);
  -moz-transform: rotate(0deg) scale(1.1);
  background-color: rgba(255,0,0,0.5);
}
