.game_result{
  text-align: center;
  height: 740px;
  min-width: 1520px;
  background-image: url("../../assets/images/game_background.png");
}

.center_in_gr{
  text-align: center;
  /*background-image: url("../../assets/images/game_background3.png");*/
  /*border-radius:5%;*/
  /*width: 940px;*/
  /*height: 540px;*/
  width: 1000px;
  height: 600px;
  background-image: url("../../assets/images/gameresult_bg.png");
  background-size: 1000px 600px;
  position: relative;
  top: 50%;
  left: 45%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.show_info{
  text-align: center;
  /*background-image: url("../../assets/images/gameresult_bg.png");*/
  /*background-size: 775px 456px;*/
  border-radius:5%;
  width: 775px;
  height: 456px;
  position: absolute;
  left: 300px;
  top: 0px;
  padding-top: 50px;
}

.tile_gr{
  text-align: center;
  color: #eee;
  border-radius: 2px;
  height: 50px;
  width: 525px;
}

.winner_tiles{
  text-align: center;
  color: #eee;
  height: 50px;
  border-radius: 2px;
  position: absolute;
  left: 30px;
}

.winner_tile{
  height: 50px;
  width: 35px;
  float: left;
}

.hu_tile{
  text-align: center;
  color: #eee;
  height: 50px;
  width: 35px;
  border-radius: 2px;
  position: absolute;
  left:490px;
}
.point_gr{
  text-align: center;
  /*background-image: url("../../assets/images/game_background3.png");*/
  /*border-radius:5%;*/
  /*background-image: url("../../assets/images/gameresult_bg.png");*/
  /*background-size: 770px 430px;*/
  width: 770px;
  height: 300px;
  /*padding: 50px 150px;*/
  padding: 20px;
  /*position: relative;*/
  /*top: 0;*/
  /*left: -25%;*/
  opacity: 0.9;
}
.point_player_gr{
  width: 480px;
  height:70px;
}

.portrait{
  border-radius:25%;
  text-align: center;
  width: 50px;
  height: 50px;
}

.win_player{
  text-align: center;
  width: 30px;
  height: 50px;
}
.point_player{
  text-align: center;
  width: 50px;
  height: 50px;
}

#quit,#continue {
  opacity: 1;
  outline:none;
  background: none;
  border:none;
  width:160px;
  height:40px;
  background-size:100% 100%
}
#quit:hover,#continue:hover {
  opacity:0.8;
}
#quit {
  background-image: url(../../assets/images/button1.png);
  margin:50px 10px 10px 10px;
}
#continue {
  background-image: url(../../assets/images/button2.png);
  margin:15px 10px 30px 10px;
}
#buttons {
  margin-left:-25%;
  margin-top:10%;
}
