<div class="room_information">
  <div class="center_in_ri">
    <div class="show_room_info">
      <div>
        <div *ngFor="let player of players" class="player_in_ri">
          <img class="portrait" src="../../assets/picture/portrait/{{player.gameid}}.jpg" alt="touxiang">
          <span *ngIf="player.ready === true"  class="tipIcon_ready">准</span>
          <span *ngIf="player.gameid === banker.gameid"  class="tipIcon_banker">庄</span>
          <h4 class="portrait_name"><span  class="label label-default">{{player.name}}</span></h4>
        </div>
      </div>
      <div class="button">
        <button (click)="ready()">准备</button>
        <button>退出房间</button></div>
    </div>

  </div>
</div>

