<div class="bottom">
  <!--已打出的牌 -->
  <div class="bottom_useless">
    <div *ngFor="let useless_tile of tiles[2]" class="useless_tile">
      <img  height="40" width="30" src="../../assets/picture/{{useless_tile.type}}/{{useless_tile.value}}.png" alt="useless_tile_img">
    </div>
  </div>
  <!--手中的牌 -->
  <div class="bottom_using">
    <div *ngFor="let using_tile of tiles[0]" class="using_tile">
      <img src="../../assets/picture/{{using_tile.type}}/{{using_tile.value}}.png" alt="using_tile_img" (click)="outTile(using_tile)">
    </div>
    <!--这张表示刚刚发给我的牌，你需要改变它的布局-->
    <div *ngIf="new_tile" class="new_tile">
      <img src="../../assets/picture/{{new_tile.type}}/{{new_tile.value}}.png" alt="new_tile_img" (click)="outTile(new_tile)">
    </div>
  </div>
  <!--碰或者杠的牌 -->
  <div class="bottom_used">
    <div *ngFor="let used_tile of tiles[1]" class="used_tile">
      <img src="../../assets/picture/{{used_tile.type}}/{{used_tile.value}}.png" alt="used_tile_img">
    </div>
  </div>
  <div class="button" id="buttons">
    <button (click)="bump()" id="bump"></button>
    <button (click)="eat()" id="eat"></button>
    <button (click)="rob()" id="rob"></button>
    <button (click)="win()" id="win"></button>
  </div>
</div>
