.game{
  text-align: center;
  height: 100%;
  background-color: coral;
}
.table_in_game{
  text-align: center;
  height: 100%;
  position: absolute;
  background-color: coral;
}

.room_information_in_game{
  text-align: center;
  height: 100%;
  position: absolute;
  background-color: coral;
}

.hidden{
  visibility: hidden;
}
