.game{
  text-align: center;
  padding:0px;
  margin: 0px;
  background-color: coral;
}
.table_in_game{
  text-align: center;
  padding:0px;
  /*background-color: coral;*/
}

.room_information_in_game{
  text-align: center;
  /*background-color: coral;*/
}
