@font-face {
  font-family: 'water';/*此处YourWebFontName为你的字体名称*/
src:
url('../../assets/fonts/water.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
  height:758px;
  /*background-image: url(../../assets/images/hall.png);*/
  background-image: url(../../assets/images/gamehall_bg3.jpg);
  background-repeat:no-repeat;
  /*background:#f0f0f0;*/
  /*background-size: cover;*/
  background-size: 100% 758px;
  /*padding-top: 70px;*/
}
/*footer {*/
  /*padding: 30px 0;*/
/*}*/
#leftbar,#sidebar{
  display:inline;
  width:30%;
}

#buttons {
  margin-top:230px;
  background: none;
  margin-left: 20%;
  margin-right: -22%;
  border:none;
  /*background: #f0f0f0;*/
  /*background-image: url(../../assets/images/border.png);*/
  background-repeat:no-repeat;
  background-size:90% 100%;
  /*opacity: 0.9;*/
}
.friend_panel {
  /*background: #f0f0f0;*/
  height:320px;
  opacity: 0.8;
  font-family:'water';
}
.message_panel {
  /*background: #f0f0f0;*/
  height:240px;
  opacity: 0.8;
  font-family:'water';
}
.panel-body{
  height:100%;
}
.form-inline {
  width: 240px;
  margin:auto;
}
.hidden_wrapper{
  height: 200px;
  width: 240px;
  overflow: hidden;
  margin:auto;
  padding-top: 5px;
}

.friend_list,.user_list{
  text-align: center;
  width: 262px;
  height: 200px;
  overflow: auto;
  background: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.friend_info,.user_info{
  text-align: left;
  width: 240px;
  background: none;
  color:#FFD700;
  /*padding-bottom: 5px;*/
  border-bottom: 1px solid #ccc;
  border-color:rgba(255,255,255,0.3);
  background-color: #1E90FF;
  border-radius: 5px;
  margin-bottom: 5px;
  /*margin: 0px 0px;*/
  padding:6px;
}
.friend_name{
  background: none;
  font-family:'water';
  /*padding-bottom: 5px;*/
  /*border-bottom: 1px solid #ccc;*/
  /*border-color:rgba(255,255,255,0.3);*/
  /*background-color: #F5FFFA;*/
  /*border-radius: 5px;*/
  /*margin-bottom: 5px;*/
  /*margin: 0px 0px;*/
  /*padding:6px;*/
}
#search_user,#user_key {
  background: none;
}
.search_bar {
  width:260px;
  margin-left:16px;
}
#search_user {
  width:30%;
  /*padding:1px 2px;*/
  padding-left:2px;
  padding-right:2px;
}
#user_key {
  width:60%;
}
#add_button {
  float: right;
  height:25px;
  /*width:70px;*/
  padding:1px 3px;
}
.delete_friend,.add_friend {
  float: right;
  height:25px;
  /*width:70px;*/
  padding:0 3px;
  /*padding:0;*/
  margin:auto;
  font-size:11px;
  /*border-color: red;*/
  border-radius: 30px;
}
#message_buttons{
  /*height:50px;*/
  padding: 0px;
  /*margin-top:350px;*/
}
#friend_key,#friend_key1 {
  width:70%;
  height:30px;
}
#search_friend,#search_friend1 {
  width:25%;
  height:30px;
  float:right;
  padding:1px 2px;
  font-size: 12px;
}
#accept,#accept1,#refuse，#refuse1 {
  opacity: 1;
  outline:none;
  background: none;
  border:none;
  width:25%;
  margin:0;
  margin-left: 50px;
  height:30px;
  background-size:100% 100%;
  font-weight: bold;
  color:white;
}
#accept，#accept1 {
  background-image: url(../../assets/images/accept.png);
}
#refuse，#refuse1 {
  background-image: url(../../assets/images/refuse.png);
}
.modal-body {
  height: 260px;
}
#create_room,#add_room,#log_out {
  opacity: 1;
  outline:none;
  background: none;
  border:none;
  width:70%;
  height:80px;
  background-size:100% 100%;
  font-family:'water';
  font-size:20px;
  color:white;
}
#create_room:hover,#add_room:hover,#log_out:hover,#accept:hover,#accept1:hover,#refuse:hover,#refuse1:hover {
   opacity:0.8;
 }
#create_room {
  background-image: url(../../assets/images/room_button22.png);
  margin-top:40px;
  margin-left:10%;
  background-size:100% 75px;
  background-repeat: no-repeat;
  /*margin:50px 30px 10px 10px;*/
}
#add_room {
  background-image: url(../../assets/images/room_button11.png);
  margin-left:10%;
  margin-top:-10px;
  background-size:100% 75px;
  background-repeat: no-repeat;
  /*margin: 15px 20px 30px 10px;*/
}
#log_out {
  background-image: url(../../assets/images/room_button41.png);
  margin-left:10%;
  margin-top:-10px;
  background-size:100% 75px;
  /*margin:0px 100px 10px 10px;*/
}
#user_portrait {
  border: 1px dotted #000000; /*border: 1px solid #000000;*/
  -webkit-border-radius: 50%;
  border-radius: 50%
}
.modal-content {
  margin:200px auto;
  width:300px;
  height:380px;
  background: none;
  border:none;
  color: #CD853F;
  /*opacity:0.8;*/
  font-weight:bolder;
  background: url(../../assets/images/model.png);
  background-size: 100% 100%;
}
.message {
  border:1px solid #F00;
}
ul {
  padding-top: 20px;
}
.cancel_button {
  float:left;
}
.modal {
  font-family: "water";
}
.message_box {
  height:120px;
  overflow:auto;
  overflow-x: hidden
}

