.up{
  text-align: center;
  color: #eee;
  border-radius: 2px;
  height: 200px;
  width: 500px;
  /*-moz-transform:rotate(180deg);*/
  /*-webkit-transform:rotate(180deg);*/
  /*filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
  position: relative;
}
.up_useless {
  text-align: center;
  color: #eee;
  height: 120px;
  width: 200px;
  border-radius: 2px;
  position: absolute;
  left: 70px
}

.useless_tile {
  height: 40px;
  width: 25px;
  float: left;
}

.up_using {
  text-align: center;
  color: #eee;
  height: 40px;
  border-radius: 2px;
  position: absolute;
  left:10px;
  bottom:10px;
}

.using_tile {
  height: 40px;
  width: 25px;
  float: left;
}

.up_used {
  text-align: center;
  color: #eee;
  height: 40px;
  border-radius: 2px;
  position: absolute;
  right:10px;
  bottom:10px;
}

.used_tile {
  height: 40px;
  width: 25px;
  float: left;
}

